<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="sidebar">
            <h1><span style="color: #28a745;">TASK</span><span style="color: black;">IT</span></h1>
            <button class="btn btn-block">Task List</button>
            <div class="d-flex align-items-center "> <!-- Wrap user image and info in a flex container -->          
                <div class="user-image">
                    <img src="user.jpg" alt="User Image" class="img-fluid"></div>
                   <div class="user-info">
                     <p>Name</p>
                     <p>Email@example.com</p>
                  </div>
                 </div>
        </div>
      
    </div>
</div>
